/* temporary designs */

body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}


/* fonts */

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}


/* navigation section */

.top-navigation {
	background-color: #e5e5e5;
	position: fixed;
	width: 100%;
	z-index: 9999;

}

.top-navigation > .content {
	
	height: 5rem;
}

.top-navigation .links {
	float: right;
	margin-top: 2rem;
	font-size: 1.25rem;
	color: #333333;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	padding: 0 3rem;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;

	}

.top-navigation .links .active {
	color: #000;
	font-weight: 700;
	font-style: bold;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #555;
}


/*introduction section*/

.introduction {
	background-image: url('../images/hands.jpg');
}